.navbar__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 15px 60px 15px 60px;
	border-bottom: 1px solid #c4c4c4;
}

.nav__left {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nav__left img {
	width: 120px;
	margin-right: 100px;
}

.nav__left input {
	width: 400px;
	background-color: #f4f6f8;
	padding: 10px;
	border-radius: 10px;
	outline: none;
	font-size: 13px;
	margin-right: 5px;
	color: gray;
}

.nav__right {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.nav__right span {
	font-size: 12px;
}

.nav__right img {
	width: 40px;
	margin-left: 40px;
	margin-right: 5px;
}

.nav__right h5 {
	font-size: 15px;
	font-weight: bold;
}
