.dashboard__leftMenu {
  min-width: 250px;
  height: calc(100vh - 75px);
  display: flex;
  width: 15%;
}

.dashboard__main {
  display: flex;
  flex-direction: row;
}

.dashboard__mainContainer {
  background-color: #e5e5e5;
  width: 100%;
}
