.account__profile-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 700px;
  margin: auto;
  justify-content: center;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 1px solid #e5e5e5;
  padding: 10px;
  align-items: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.photoUrlInput {
  margin-right: 20px;
}

.account__profile-header {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
  width: 100%;
  text-align: left;
}

.account__profile-header h2 {
  font-weight: 700;
  font-size: 17px;
}

.account__profile-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.account__details-header h4 {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
}

.account__profile-details {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.account__details {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.account__detail-info {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.account__detail-info img {
  width: 50px;
  margin-right: 20px;
}

.account__avatar-btn {
  padding: 8px;
  background-color: #3861fb;
  color: white;
  border-radius: 10px;
  font-size: 15px;
}

.account__detail-info span {
  margin-left: 20px;
  font-size: 10px;
  font-weight: 700;
}

.account__profile-saveBtn {
  background-color: #3861fb;
  padding: 10px;
  border-radius: 10px;
}

.account__detail-info input {
  padding: 10px;
  background-color: white;
  outline: none;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 13px;
  width: 300px;
}

.account__passReset {
  margin-top: 40px;
  border-top: 1px solid #e5e5e5;
  padding: 10px;
  display: flex;
  align-items: center;
}

.account__passReset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.account__passReset-header h5 {
  font-size: 17px;
  font-weight: 700;
}

.account__passReset-header span {
  font-size: 14px;
}

.account__passReset-Btn button {
  padding: 10px;
  background-color: #e5e5e5;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  min-width: 180px;
}

.account__save-Btn button {
  padding: 10px;
  margin-top: 20px;
  color: white;
  /* cursor: not-allowed; */
  padding: 10px;
  background-color: #3861fb;
  font-weight: 500;
  font-size: 15px;
  border-radius: 10px;
  margin-left: 10px;
}
